### Day Objectives
#### Practice on Income Dataset
##### Define functions for the following data points
- Average Income of all states from 2005 to 2013
- State with highest average income in the last three years
- State with lowest average income from 2007 to 2010(inclusive)
- Print the list of all states in the same line with average income less than California
- Print the names of states based on descending order of income in the year 2009
- State with the lowest recorded income from 2005 to 2013

In [49]:
filepath='DataFiles/Income.csv'
import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)

readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [55]:
incomedf=readCSVdata(filepath)
#def accessdatafromcolumn(df,column):
#incomedf.values()
def accessdataframerow(df,key):
    sum=0
    count=0
    for row in df.values:
        if key in row:
            for item in range(2,len(row)):
                count+=1
                #print(row[item])
                sum=sum+row[item]
                
            #print('\n')
    return sum/count
accessdataframerow(incomedf,'Alaska')

60106.555555555555

In [79]:
def getcolumnindex(df,columnkey):
    for i in range(len(df.columns)):
        if df.columns[i]==columnkey:
            columnindex=i
    return columnindex
getcolumnindex(incomedf,"State")

1

In [75]:
incomedf=readCSVdata(filepath)
def avgofeachcolumn(df,columnindex):
    #print(rowindex)
    sum=0
    for column in incomedf.values:
        #print(column[columnindex])
        sum+=column[columnindex]
    return sum/len(incomedf.values)
avgofeachcolumn(incomedf,2)

45339.8

In [76]:
#Average Income of all states from 2005 to 2013
def avgofallyears(df,columnkey1,columnkey2):
    lb=getcolumnindex(df,columnkey1)
    print(lb)
    ub=getcolumnindex(df,columnkey2)
    print(ub)
    c=0
    add=0
    for colum in range(lb,ub+1):
        c=c+1
        add=add+avgofeachcolumn(df,colum)
        #print(avgofeachcolumn(df,colum))
        #print(c)
    return add/c
avgofallyears(incomedf,"2005","2013")

2
10

48876.044444444444

In [46]:
li=[37150,37952,42212,44476,39980,40933,42590,43464,41381,55891,56418,62993,63989,61604,57848,57431,63648,61137,45245,46657,62993,46914,45739,46896,48621,47044,50602,36658,37057,40795,39586,36538,38587,41302,39018,39919,51755,55319,55734,57014,56134,54283,53367,57020,57528]
print(sum(li)/45)

48876.044444444444

In [77]:
def avgofstateingivenrange(df,rowkey,columnkey1,columnkey2):
    count=0
    sum=0
    lb=getcolumnindex(df,columnkey1)
    ub=getcolumnindex(df,columnkey2)
    for row in df.values:
        if rowkey in row:
            for item in range(lb,ub+1):
                count=count+1
                #print(count)
                sum=sum+row[item]
                #print(sum)
    return sum/count

avgofstateingivenrange(incomedf,'Alaska',"2011","2013")

60738.666666666664

In [81]:
#State with highest average income in the last three years
def maxavgincomeingivenrange(df,columnname,columnkey1,columnkey2):
    columnindex=getcolumnindex(df,columnname)
    #for rowkey in range(firstrow,lastrow+1):
    li={}
    for column in incomedf.values:
        rowkey=str(column[columnindex])
        #print(type(rowkey))
        li[rowkey]=(avgofstateingivenrange(df,rowkey,columnkey1,columnkey2))
    #print(li)
    for item in li.items():
        if item[1]==max(li.values()):
            print(item[0])
maxavgincomeingivenrange(incomedf,"State","2011","2013")

Alaska

In [83]:
#State with lowest average income from 2007 to 2010(inclusive)
def lowavgincomeingivenrange(df,columname,columnkey1,columnkey2):
    columnindex=getcolumnindex(df,columname)
    #for rowkey in range(firstrow,lastrow+1):
    li1={}
    for column in incomedf.values:
        rowkey=str(column[columnindex])
        #print(type(rowkey))
        li1[rowkey]=(avgofstateingivenrange(df,rowkey,columnkey1,columnkey2))
    print(li1)
    for item in li1.items():
        if item[1]==min(li1.values()):
            print(item[0])
lowavgincomeingivenrange(incomedf,"State","2007","2010")

{'Alabama': 41900.25, 'Alaska': 61608.5, 'Arizona': 50635.5, 'Arkansas': 38876.5, 'California': 55791.25}
Arkansas

In [84]:
#Print the names of states based on descending order of income in the year
#2009
def desorder(df,columnkey,stateskey):
    columnkey=getcolumnindex(df,columnkey)
    stateskey=getcolumnindex(df,stateskey)
    dict={}
    for column in df.values:
        dict[column[stateskey]]=(column[columnkey])
        values=list(dict.values())
        v=sorted(values,reverse=True)
    for inc in v:
        #print(inc)
        #print([values.index(inc)])
        print(df.values[values.index(inc)][stateskey])
        
        
desorder(incomedf,"2009","State")

Alaska
California
Arizona
Alabama
Arkansas

In [85]:
#Print the list of all states in the same line with average income 
#less than California
def avginclessthancalf(df,stateindex,state):
    stateindex=getcolumnindex(df,stateindex)
    avgdict={}
    for column in df.values:
        statekey=str(column[stateindex])
        avgdict[statekey]=accessdataframerow(df,statekey)
    print(avgdict)
    for item in avgdict.items():
        if item[1]<avgdict[state]:
            #print(item[1],avgdict[state])
            print(item[0],end=' ')
avginclessthancalf(incomedf,"State",'California')

{'Alabama': 41126.444444444445, 'Alaska': 60106.555555555555, 'Arizona': 48967.88888888889, 'Arkansas': 38828.88888888889, 'California': 55350.444444444445}
Alabama Arizona Arkansas

In [86]:
#State with the lowest recorded income from 2005 to 2013
def lowincomeof(df,lb,ub,stateindex):
    lb=getcolumnindex(df,lb)
    ub=getcolumnindex(df,ub)
    stateindex=getcolumnindex(df,stateindex)
    list=[]
    for column in df.values:
        for columindex in range(lb,ub+1):
            list.append(column[columindex])
    key=min(list)
    print(key)
    for row in df.values:
        if key in row:
            print(row[stateindex])
lowincomeof(incomedf,"2005","2013","State")

36538
Arkansas

In [ ]:
def accessdataframerow(df,key):
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=" ")
            print('\n')
    return
accessdataframerow(incomedf,'Alaska')

In [31]:
a={'key':[1,2,3],'key2':[3,4,5]}
a['key2']

[3, 4, 5]

In [31]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']